### Pandas

- data processing
    - it is used for processing the data
- data analyzing
    - it is used to analyzing the data
- two types
    - Series
        - multiple row and single column
    - Data Frame
        - multiple rows and multiple columns

In [3]:
# pip install pandas
import pandas as pd

In [4]:
s=pd.Series([1,2,3,4.5,"python",'online',"course"])
s

0         1
1         2
2         3
3       4.5
4    python
5    online
6    course
dtype: object

In [5]:
type(s)

pandas.core.series.Series

In [6]:
print(type(s))

<class 'pandas.core.series.Series'>

In [7]:
dir(s)

['T',
 '_AXIS_ALIASES',
 '_AXIS_IALIASES',
 '_AXIS_LEN',
 '_AXIS_NAMES',
 '_AXIS_NUMBERS',
 '_AXIS_ORDERS',
 '_AXIS_REVERSED',
 '_HANDLED_TYPES',
 '__abs__',
 '__add__',
 '__and__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__array_wrap__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__div__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__float__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__long__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdiv__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_add_numeric_operations',
 '_add_series_only_operations',
 '_add_series_or_dataframe_operations',
 '_agg_by_level',
 '_agg_examples_doc',
 '_agg_see_also_doc',
 '_aggregate',
 '_aggregate_multiple_funcs',
 '_align_frame',
 '_align_series',
 '_binop',
 '_box_item_values',
 '_builtin_table',
 '_can_hold_na',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_percentile',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_dict_from',
 '_construct_axes_from_arguments',
 '_constructor',
 '_constructor_expanddim',
 '_constructor_sliced',
 '_convert',
 '_create_indexer',
 '_cython_table',
 '_data',
 '_deprecations',
 '_dir_additions',
 '_dir_deletions',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_find_valid_index',
 '_formatting_values',
 '_from_axes',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_space_character_free_column_resolvers',
 '_get_value',
 '_get_values',
 '_get_values_tuple',
 '_get_with',
 '_gotitem',
 '_iget_item_cache',
 '_index',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_init_dict',
 '_init_mgr',
 '_internal_get_values',
 '_internal_names',
 '_internal_names_set',
 '_is_builtin_func',
 '_is_cached',
 '_is_copy',
 '_is_cython_func',
 '_is_datelike_mixed_type',
 '_is_homogeneous_type',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_numeric_mixed_type',
 '_is_view',
 '_ix',
 '_ixs',
 '_map_values',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_ndarray_values',
 '_needs_reindex_multi',
 '_obj_with_exclusions',
 '_protect_consolidate',
 '_reduce',
 '_reindex_axes',
 '_reindex_indexer',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_repr_data_resource_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_selected_obj',
 '_selection',
 '_selection_list',
 '_selection_name',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_is_copy',
 '_set_item',
 '_set_labels',
 '_set_name',
 '_set_subtyp',
 '_set_value',
 '_set_values',
 '_set_with',
 '_set_with_engine',
 '_setup_axes',
 '_shallow_copy',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_to_dict_of_blocks',
 '_try_aggregate_string_function',
 '_typ',
 '_unpickle_series_compat',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 '_xs',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'argmax',
 'argmin',
 'argsort',
 'array',
 'as_matrix',
 'asfreq',
 'asof',
 'astype',
 'at',
 'at_time',
 'autocorr',
 'axes',
 'base',
 'between',
 'between_time',
 'bfill',
 'bool',
 'clip',
 'clip_lower',
 'clip_upper',
 'combine',
 'combine_first',
 'compound',
 'compress',
 'copy',
 'corr',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'data',
 'describe',
 'diff',
 'div',
 'divide',
 'divmod',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtype',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'ewm',
 'expanding',
 'explode',
 'factorize',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'flags',
 'floordiv',
 'from_array',
 'ftype',
 'ftypes',
 'ge',
 'get',
 'get_dtype_counts',
 'get_ftype_counts',
 'get_values',
 'groupby',
 'gt',
 'hasnans',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'imag',
 'index',
 'infer_objects',
 'interpolate',
 'is_monotonic',
 'is_monotonic_decreasing',
 'is_monotonic_increasing',
 'is_unique',
 'isin',
 'isna',
 'isnull',
 'item',
 'items',
 'itemsize',
 'iteritems',
 'ix',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lt',
 'mad',
 'map',
 'mask',
 'max',
 'mean',
 'median',
 'memory_usage',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'name',
 'nbytes',
 'ndim',
 'ne',
 'nlargest',
 'nonzero',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pct_change',
 'pipe',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'ptp',
 'put',
 'quantile',
 'radd',
 'rank',
 'ravel',
 'rdiv',
 'rdivmod',
 'real',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'repeat',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'searchsorted',
 'sem',
 'set_axis',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort_index',
 'sort_values',
 'squeeze',
 'std',
 'str',
 'strides',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dense',
 'to_dict',
 'to_excel',
 'to_frame',
 'to_hdf',
 'to_json',
 'to_latex',
 'to_list',
 'to_msgpack',
 'to_numpy',
 'to_period',
 'to_pickle',
 'to_sparse',
 'to_sql',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tshift',
 'tz_convert',
 'tz_localize',
 'unique',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'view',
 'where',
 'xs']

In [8]:
s=pd.Series(("gvpce","aditya","srkr","vignans","lendi","pydah","au"))

In [9]:
s

0      gvpce
1     aditya
2       srkr
3    vignans
4      lendi
5      pydah
6         au
dtype: object

In [10]:
s=pd.Series(("gvpce","aditya","srkr","vignans","lendi","pydah","au"),index=["c1","c2","c3","c4","c5","c6","c7"])

In [11]:
s

c1      gvpce
c2     aditya
c3       srkr
c4    vignans
c5      lendi
c6      pydah
c7         au
dtype: object

In [12]:
s.index

Index(['c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c7'], dtype='object')

In [13]:
s.values

array(['gvpce', 'aditya', 'srkr', 'vignans', 'lendi', 'pydah', 'au'],
      dtype=object)

In [14]:
s.values[0]

'gvpce'

In [15]:
s.values[3]

'vignans'

In [16]:
s.values[0:3]

array(['gvpce', 'aditya', 'srkr'], dtype=object)

In [17]:
s.values[3::-2]

array(['vignans', 'aditya'], dtype=object)

In [19]:
s.values[-2::]

array(['pydah', 'au'], dtype=object)

In [20]:
s

c1      gvpce
c2     aditya
c3       srkr
c4    vignans
c5      lendi
c6      pydah
c7         au
dtype: object

In [21]:
s[0]

'gvpce'

In [22]:
s[0:3]

c1     gvpce
c2    aditya
c3      srkr
dtype: object

In [23]:
s[0]="vvit"

In [24]:
s

c1       vvit
c2     aditya
c3       srkr
c4    vignans
c5      lendi
c6      pydah
c7         au
dtype: object

In [26]:
import numpy as np

In [27]:
s=pd.Series(np.array([10,20,30,40]))

In [28]:
s

0    10
1    20
2    30
3    40
dtype: int32

In [29]:
s=pd.Series({"a":10,"b":20,"c":30})

In [30]:
s

a    10
b    20
c    30
dtype: int64

In [35]:
s=pd.Series({"a":10,"b":20,"c":30},index=['a','b','c','d'])

In [36]:
s

a    10.0
b    20.0
c    30.0
d     NaN
dtype: float64

# Data Frame

In [39]:
df=pd.DataFrame()

In [40]:
df

Empty DataFrame
Columns: []
Index: []

In [41]:
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [42]:
df=pd.DataFrame([1,2,3,4])
df

   0
0  1
1  2
2  3
3  4

In [52]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [53]:
import pandas as pd

In [57]:
df=pd.DataFrame([["maths",75],["physics",45],["m1",25],["m2",35]])
df

         0   1
0    maths  75
1  physics  45
2       m1  25
3       m2  35

In [58]:
data=[["maths",75],["physics",45],["m1",25],["m2",35]]
df=pd.DataFrame(data,index=["sub1","sub2","sub3","sub4"],columns=["col1","col2"])
df

         col1  col2
sub1    maths    75
sub2  physics    45
sub3       m1    25
sub4       m2    35

In [59]:
d=df.index

In [60]:
d

Index(['sub1', 'sub2', 'sub3', 'sub4'], dtype='object')

In [61]:
d[0]

'sub1'

In [62]:
d[1]

'sub2'

In [63]:
df.columns

Index(['col1', 'col2'], dtype='object')

In [64]:
d1=df.values
d1

array([['maths', 75],
       ['physics', 45],
       ['m1', 25],
       ['m2', 35]], dtype=object)

In [65]:
d1[0]

array(['maths', 75], dtype=object)

In [67]:
d1[1]

array(['physics', 45], dtype=object)

In [68]:
d[0][0]

's'

In [69]:
df=pd.DataFrame({"maths":[45,78,45,56],"physics":[56,84,25,44],"chemistry":[12,51,73,41]})
df

   maths  physics  chemistry
0     45       56         12
1     78       84         51
2     45       25         73
3     56       44         41

In [70]:
# a b c d
data=({"maths":[45,78,45,56],"physics":[56,84,25,44],"chemistry":[12,51,73,41]})
df=pd.DataFrame(data,index=["a","b","c","d"])
df

   maths  physics  chemistry
a     45       56         12
b     78       84         51
c     45       25         73
d     56       44         41

In [99]:
data=({"maths":pd.Series([45,78,45,56],index=["a","b","c","d"]),"physics":pd.Series([56,84,25,44],index=["a","b","c","d"]),"chemistry":pd.Series([45,82,95,95],index=["a","b","c","d"])})
df=pd.DataFrame(data)
df

   maths  physics  chemistry
a     45       56         45
b     78       84         82
c     45       25         95
d     56       44         95

In [100]:
df["maths"]    # to access the single column

a    45
b    78
c    45
d    56
Name: maths, dtype: int64

In [101]:
df["maths"][0]

45

In [102]:
# location accepts only the label names
df.loc["a"]      # to access the single row

maths        45
physics      56
chemistry    45
Name: a, dtype: int64

In [103]:
df.loc[["a","d"]]   # for multiple rows

   maths  physics  chemistry
a     45       56         45
d     56       44         95

In [104]:
df[["maths","physics"]]   # for multiple columns

   maths  physics
a     45       56
b     78       84
c     45       25
d     56       44

In [105]:
# df.loc[rows,col]
df.loc[['a','c'],['maths','physics']]    # multiple rows and multiple columns using loc

   maths  physics
a     45       56
c     45       25

In [106]:
#iloc .......index location
# it accesses the position numbers
# iloc[rows,col]

In [107]:
df.iloc[[0,2],[0,1]]

   maths  physics
a     45       56
c     45       25

In [108]:
df.iloc[0:3:2,0:3:2]

   maths  chemistry
a     45         45
c     45         95

In [109]:
df

   maths  physics  chemistry
a     45       56         45
b     78       84         82
c     45       25         95
d     56       44         95

In [110]:
# last 2 columns using iloc 
df.iloc[:,-2:]

   physics  chemistry
a       56         45
b       84         82
c       25         95
d       44         95

In [111]:
df.iloc[:,0::2]

   maths  chemistry
a     45         45
b     78         82
c     45         95
d     56         95

In [112]:
df.iloc[:, -3::2]

   maths  chemistry
a     45         45
b     78         82
c     45         95
d     56         95

In [113]:
df.iloc[::2]

   maths  physics  chemistry
a     45       56         45
c     45       25         95

In [114]:
df.iloc[::,1::]

   physics  chemistry
a       56         45
b       84         82
c       25         95
d       44         95

In [116]:
df.iloc[0:5,1:3]

   physics  chemistry
a       56         45
b       84         82
c       25         95
d       44         95

In [117]:
df["physics"][1]=100

In [118]:
df

   maths  physics  chemistry
a     45       56         45
b     78      100         82
c     45       25         95
d     56       44         95

In [119]:
df.max()    # max max values for df

maths         78
physics      100
chemistry     95
dtype: int64

In [121]:
df.max(1)  # max values for every row

a     56
b    100
c     95
d     95
dtype: int64

In [123]:
df.min()    # min vlaues for every column

maths        45
physics      25
chemistry    45
dtype: int64

In [125]:
df.min(1) # min values for every row

a    45
b    78
c    25
d    44
dtype: int64

In [126]:
df.sum()

maths        224
physics      225
chemistry    317
dtype: int64

In [127]:
df.sum(1)

a    146
b    260
c    165
d    195
dtype: int64

In [128]:
df.mean()

maths        56.00
physics      56.25
chemistry    79.25
dtype: float64

In [129]:
df.mean(1)

a    48.666667
b    86.666667
c    55.000000
d    65.000000
dtype: float64

In [130]:
# Combine avaerage income of all states from 2005 to 2013
# State with highest avg income in the last three years
# State with lowest average income in the last three years(inclusive)
# Print the list of all states in the same line with avg income lesthan california
# print the names of states based on descending order of income in the year 2009

In [132]:
df=pd.read_csv("income.csv")

ParserError: Error tokenizing data. C error: Expected 1 fields in line 7, saw 2