# Dictionary

- key,value pair data strcture
- {key,value}..>{bhanu:100}
- key: any data type : int/float/str
- value : any data strcture : str/list/tuple/set/dict
- keys are unique in nature
- keys are the references for the values
- (key,value) together called as an item

In [1]:
dic={'key':'value','string':'name','integer':123,'float':9.3}
dic

{'key': 'value', 'string': 'name', 'integer': 123, 'float': 9.3}

In [2]:
# print only keys present in this dic
print(dic.keys())

dict_keys(['key', 'string', 'integer', 'float'])

In [3]:
print(dic.values())

dict_values(['value', 'name', 123, 9.3])

In [4]:
print(dic.items())

dict_items([('key', 'value'), ('string', 'name'), ('integer', 123), ('float', 9.3)])

In [6]:
for item in dic.keys():
    
    print(item)

key
string
integer
float

In [7]:
for item in dic.values():
    print(item)

value
name
123
9.3

In [8]:
item_list=list(dic.items())
for item in item_list:
    print(item)

('key', 'value')
('string', 'name')
('integer', 123)
('float', 9.3)

In [9]:
# dic.items()..>keys and values
for key,value in dic.items():
    print(key,value,sep=":")

key:value
string:name
integer:123
float:9.3

In [11]:
for key,value in zip(dic.keys(),dic.values()):
    print(key,value,sep=":")

key:value
string:name
integer:123
float:9.3

In [12]:
dic

{'key': 'value', 'string': 'name', 'integer': 123, 'float': 9.3}

In [13]:
dic.popitem()

('float', 9.3)

In [14]:
dic

{'key': 'value', 'string': 'name', 'integer': 123}

In [15]:
dic.pop('string')

'name'

In [16]:
dic

{'key': 'value', 'integer': 123}

In [17]:
dic['key']='New Value' # updtaing keys
dic

{'key': 'New Value', 'integer': 123}

In [18]:
dic['new key']='New Value'
dic

{'key': 'New Value', 'integer': 123, 'new key': 'New Value'}

In [19]:
dic.update({'nk':'nv','course':'online training'})

In [20]:
dic

{'key': 'New Value',
 'integer': 123,
 'new key': 'New Value',
 'nk': 'nv',
 'course': 'online training'}

In [21]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [22]:
# prepare a dict of square valuesof numbers from 1 to 15
squrs={}
for num in range(1,16):
    squrs[num]=num**2
squrs

{1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: 100,
 11: 121,
 12: 144,
 13: 169,
 14: 196,
 15: 225}

In [23]:
dic[key]=value # we can add new data to the dict/modify the present key

In [24]:
li=[1,2,3,4]
li[2]

3

In [26]:
dic

{'key': 'New Value',
 'integer': 123,
 'new key': 'New Value',
 'nk': 'nv',
 'course': 'online training',
 'float': 9.3}

In [27]:
dic['new key']

'New Value'

In [28]:
dic['new key']='modified one'
dic

{'key': 'New Value',
 'integer': 123,
 'new key': 'modified one',
 'nk': 'nv',
 'course': 'online training',
 'float': 9.3}

In [29]:
# preapare a dic of chars from A to K with their ascii values
dic={}
value=65
for i in range(0,11):
    dic[chr(value)]=value
    value=value+1
print(dic)

{'A': 65, 'B': 66, 'C': 67, 'D': 68, 'E': 69, 'F': 70, 'G': 71, 'H': 72, 'I': 73, 'J': 74, 'K': 75}

In [31]:
chars={}
for num in range(65,76):
    chars[chr(num)]=num
print(chars)

{'A': 65, 'B': 66, 'C': 67, 'D': 68, 'E': 69, 'F': 70, 'G': 71, 'H': 72, 'I': 73, 'J': 74, 'K': 75}

In [33]:
# prepare a dict of chars whose ascii values are een in a given range
evens={}
for num in range(65,90):
    if num%2==0:
        evens[num]=chr(num)
print(evens)

{66: 'B', 68: 'D', 70: 'F', 72: 'H', 74: 'J', 76: 'L', 78: 'N', 80: 'P', 82: 'R', 84: 'T', 86: 'V', 88: 'X'}

In [36]:
# dic of chars whose ascii values are prime
def is_prime(n):
    count=0
    for num in range(1,n+1):
        if n%num==0:
            count+=1
    if factors==2:
        return True
    else:
        return False
prime_chrs={}
st=input()
for ch in st:
    if is_prime(ord(ch)):
        prime_chrs[ch]=ord(ch)
prime_chrs

Hi we are conducting Summer online Traing Program

{'e': 101, 'a': 97, 'g': 103, 'S': 83, 'm': 109}

In [37]:
prime={}
for num in range(60,120):
    count=0
    for num1 in range(1,num//2+1):
        if num%num1==0:
            count+=1
    if count==1:
        prime[num]=chr(num)
prime

{61: '=',
 67: 'C',
 71: 'G',
 73: 'I',
 79: 'O',
 83: 'S',
 89: 'Y',
 97: 'a',
 101: 'e',
 103: 'g',
 107: 'k',
 109: 'm',
 113: 'q'}

In [38]:
# machhine LeArNing...> Machine Learning
# First_name Last_name...>intial.firstname
# Bhanu Thumma..>T.  Bhanu
# menu card
# Contact Application

In [39]:
t="machine leArNing"
t.title()

'Machine Learning'

In [44]:
name=input("Type your name")
print(name)
name2=name.split()
last_name=name2[1]
last_name=last_name[:1]
print(name2[0],last_name,end=' ')

Type your nameBhanuReddy Thumma
BhanuReddy Thumma
BhanuReddy T

In [45]:
name=input().split()
fn=name[0]
ln=name[1][0]
print(ln,fn,sep=".")

BhanuReddy Thumma
T.BhanuReddy

In [46]:
name

['BhanuReddy', 'Thumma']

In [47]:
name[0]

'BhanuReddy'

In [48]:
name[1]

'Thumma'

In [50]:
name[0][1]

'h'

In [51]:
name[0][2]

'a'

In [53]:
name=input().split()
fn=name[0]
ln=name[1][0]
print(ln,'.'," ",fn)

BhanuReddy Thumma
T .   BhanuReddy