### Type Casting

- Converting the data from one form to another form
    - int to float
    - float to int
    - str to int
    - int to str

In [1]:
n=9
print(n)

9

In [2]:
n=9
n

9

In [3]:
n=9
print(float(n))

9.0

In [4]:
n=9
print(float(9))

9.0

In [5]:
f=8.3
print(f)

8.3

In [6]:
f=8.3
print(int(f))

8

In [7]:
s='123'
s

'123'

In [8]:
print(int(s))

123

In [9]:
name='college'
print(int(name))

ValueError: invalid literal for int() with base 10: 'college'

In [11]:
## 3*8 =24 read these 2 numbers
## multiplication of 3 and 8 is 24
n=int(input())
m=int(input())
print('multiplication of',n,'and',m,'is',n*m)

3
8
multiplication of 3 and 8 is 24

In [12]:
a=int(input())

3

In [13]:
b=int(input())

8

In [14]:
a*b

24

### Operators in python

- Which perform on operations between 2 or more operands

ex : a+b
    - a and b are the operands
    - + is an operator

## Types of operators

- Relational operator
    - <,>,<=,>=,==
- Arithemetic Operator
    - +,-,*,/,**,%
- Logical operator
    - or,and,not
- Boolean operator
    - True,flase
- Bitwise
    - <<,>>,&,^
- Identity
    - is, is not
- Assignment
    - =
- Membership operator
    - in,not in

In [15]:
x=10
x>10

False

In [16]:
x<10

False

In [18]:
x=10
x

10

In [19]:
x>2

True

In [20]:
x==10

True

In [21]:
v,v2=10,15
print(v>v2)

False

In [22]:
print(v<v2)

True

In [25]:
num1=num2=14
print(num1>=num2)

True

In [26]:
num1

14

In [27]:
num1 is 14

True

In [28]:
num1 is 15

False

In [29]:
num1 is not 10

True

In [30]:
num1 is not num2

False

In [31]:
num1 is num2

True

In [32]:
a,b=2,3
print(a>b)

False

### Range()

- A range of numbers --> 1 to 6
- A range of chars --> A to H

In [33]:
r=range(1,6)
print(r)

range(1, 6)

# ASCII -- > American Standard Code for information interchange

In [34]:
int('a')

ValueError: invalid literal for int() with base 10: 'a'

In [35]:
ord('A')

65

In [36]:
ord('B')

66

In [37]:
chr(90)

'Z'

In [38]:
chr(65)

'A'

In [39]:
chr(66)

'B'

# Conditional statements

- Statemwnt may be any sentence but with some conditions
- if,else,elif
    - if condition :
        - return statement
    - else :
        - Statement
    - elif :
        - return

In [41]:
num1=int(input())
print(num1>10)

11
True

In [44]:
num1=int(input())
if num1>4:
    print('larger')
else:
    print('smaller')

10
larger

In [52]:
num1=int(input())
if num1>4:
    print('it is largerthan 4')

5
it is largerthan 4

In [54]:
## number is even or not
## 4%2=0,6%2=0,7%2=1

num1=int(input('enter a number :'))
if num1%2==0:
    print('even')
else:
    print('odd')

enter a number :5
odd

In [56]:
n=int(input())
if n%2 is 0:
    print('even')
else:
    print('odd')

55
odd

In [61]:
st='name'
if 's' in st:
    print('exist')
else:
    print('not exist')

not exist

In [72]:
# check whether a character read from the the user is in the given string

st=input()
if int(st) in range(1,12):
    print('integer')
else:
    print('string')

11
integer

In [75]:
num1=int(input())
if num1 in range(1,20):
    print('yes')
else:
    print('no')

25
no

In [80]:
## read 3 numbers from the user and find the larger one
a=int(input("enter first number :"))
b=int(input("enter second number :"))
c=int(input("enter third number :"))
if a>b and a>c :
    print(a,'is the largest')
elif b>c :
    print(b,'is the largest')
else :
    print(c,'is the largest')

enter first number :9
enter second number :2
enter third number :100
100 is the largest

In [82]:
a=int(input())
b=int(input())
c=int(input())
if a>b and a>c:
    print(a,"greater than",b,"and",c)
elif b>c:
    print(b,"greater than",c,"and",a)
else :
    print(c,"greater than",a,"and",b)

9
2
100
100 greater than 9 and 2

# Loops

- For Loop
- While loop

In [83]:
print("python")
print("python")

python
python

### loop : A loop statement allows us to execute a statement or group of statements multiple times.
### For loop : For loop executes the set of statements multiple times.

In [84]:
for loop syntax :
    for value in range(start,end,stepcount):

SyntaxError: invalid syntax (<ipython-input-84-8d91ac17603d>, line 1)

In [85]:
c syntax:
    for value in range(intialization;condition;inc/dec):

SyntaxError: invalid syntax (<ipython-input-85-0edeff73b929>, line 1)

In [88]:
for i in range(1,10):     # 1 is inclusive and 10 is exclusive
    print("python")

python
python
python
python
python
python
python
python
python

In [89]:
# 1 to 10 printing
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [97]:
# 10 to 1 numbers printing
for i in range(10,1,-1):
    print(i,end=' ')

10 9 8 7 6 5 4 3 2

In [99]:
# write a program to print natuarl numbers up to 100

n=int(input())
for i in range(1,n+1):
    print(i,end=' ')

100
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100