In [5]:
# Prime number checking using functios

def is_prime(n):
    count=0
    for num in range(1,n//2+1):
        if n%num==0:
            count+=1
    if count==1:
        return True
    else:
        return False
is_prime(14)

False

In [8]:
f=int(input())
s=int(input())
for each in range(f,s+1):
    if is_prime(each):
        print(each,end=" ")

1
100
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

### print():

    - This Statement returns value to the user

### return:

    - Returns value to the processor

In [10]:
# count the number of occurances of woord in a string using functions

# string,word
def freq_count(word,st):
    return st.count(word)
freq_count('m','summermmmmmmmmmmmm')

14

In [33]:
# function to check wheher a string is palindrome r not

def is_palindrome(st):
    if st==st[::-1]:
        return True
    else:
        return False
is_palindrome('madamhdhghghfgfhg')

False

In [23]:
st='string12345'
st

'string12345'

In [24]:
st[-1]

'5'

In [25]:
st[-3]

'3'

In [26]:
st[:]

'string12345'

In [27]:
st[::]

'string12345'

In [28]:
# 321gnirts
st[::-1]

'54321gnirts'

In [29]:
# 31nrs
st[::-2]

'531nrs'

In [30]:
st[::1]

'string12345'

In [31]:
st[::2]

'srn135'

# Data Strctures

- It is a way of organizing the data in a meaningful order
- 4 types:
    - Tuple
    - List
    - Set
    - Dictionary

## Tuple

- One of the data stracture in python
- used to store data or group of data
- Tuple represented by ()
- It immutible in nature
- it stores hetrogeneous data

In [36]:
t=range(1,11)
for num in t:
    print(num,end=" ")

1 2 3 4 5 6 7 8 9 10

In [38]:
for num in range(65,73):
    print(chr(num),end=" ")

A B C D E F G H

In [39]:
data=(34,89,99.86,467.09877,'name',"name3")
data

(34, 89, 99.86, 467.09877, 'name', 'name3')

In [40]:
for each in data:
    print(each)

34
89
99.86
467.09877
name
name3

In [42]:
for each in data:
    if type(each)==str:
        print(each)

name
name3

# Tuple methods

- pre defined methods can be applied on tuple only
- index()
- count()

In [43]:
data

(34, 89, 99.86, 467.09877, 'name', 'name3')

In [44]:
data[0]

34

In [45]:
data[-1]

'name3'

In [46]:
data[-4]

99.86

In [52]:
data[:-3]

(34, 89, 99.86)

In [53]:
data

(34, 89, 99.86, 467.09877, 'name', 'name3')

In [54]:
data.index(99.86)

2

In [55]:
data.index('name3')

5

In [56]:
data2=(12,34,56,12,90,'name',12,'name1','name',89,'name')
data2

(12, 34, 56, 12, 90, 'name', 12, 'name1', 'name', 89, 'name')

In [57]:
data2.count(12)

3

In [58]:
data

(34, 89, 99.86, 467.09877, 'name', 'name3')

In [59]:
data+data2

(34,
 89,
 99.86,
 467.09877,
 'name',
 'name3',
 12,
 34,
 56,
 12,
 90,
 'name',
 12,
 'name1',
 'name',
 89,
 'name')

In [60]:
'bhanu'+'apssdc'

'bhanuapssdc'

In [62]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [63]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [64]:
# 1,2,3,4 =10
sum=([1,2,3,4])

In [68]:
# Lower case and upper case vowels seperately present in a sentence

sentence=input()
# lower case vowels : a,e,i,o,u
# upper case vowels : A,E,I,O,U
def print_vowels_seperately(sentence):
    for ch in sentence:
        if ch=='a' or ch=='e' or ch=='i' or ch=='o' or ch=='u' or ch=='A' or ch=='E' or ch=='I' or ch=='O' or ch=='U':
            print(ch,end=" ")
print_vowels_seperately(sentence)

wqhwkjkhjhZKjhzjghDASHAGDJHKFJKGGNFN
A A

In [76]:
sentence=input()
vowels=('a','e','i','o','u','A','E','I','O','U')
def print_vowels_seperately(sentence):
    print('lower case vowels',end=" ")
    for c in sentence:
        if c in vowels:
            if c.islower():
                print(c,end=" ")
    print()
    print('upper case vowels',end=" ")
    for c in sentence:
        if c in vowels:
            if c.isupper():
                print(c,end=" ")
print_vowels_seperately(sentence)

Unibcraerafdagf colege
lower case vowels i a e a a o e e
upper case vowels U

In [78]:
vowel_st='aeiouAEIOU'
st=input()
for ch in vowel_st:
    if ch in st:
        print(ch,end=" ")

Universal colegeof engineering And
a e i o A U

In [81]:
course=input()
print('lower',end=" ")
for ch in course:
    if ch in vowels:
        if ch.islower():
            print(ch,end=" ")
for ch in course:
    if ch in vowels:
        if ch.isupper():
            print(ch,end=" ")

Universal Collegeofengineeringand Technology
lower i e a o e e o e i e e i a e o o U

In [87]:
# 123 456 789 901 132

# 2+5+8+0+3=18
s=0
nums=input().split()
for num in nums:
    s=s+int(num[1])
print('sum=',s)

123 456 789 901 132
sum= 18

In [85]:
name='Mounika'
t=tuple(name)
t

('M', 'o', 'u', 'n', 'i', 'k', 'a')

### List