## List

- Used to store data/group of data elements
- mutable in nature
- representd by []

In [1]:
r=range(1,21)
li=list(r)
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [2]:
het=[123,90,'name','word',9.23,'string123']
het

[123, 90, 'name', 'word', 9.23, 'string123']

In [3]:
het[1]

90

In [4]:
het[5]

'string123'

In [5]:
het[-1]

'string123'

In [6]:
het[-2]

9.23

In [7]:
het[0:3]

[123, 90, 'name']

In [8]:
het[-1:-4]

[]

In [9]:
het[-4:-1]

['name', 'word', 9.23]

In [10]:
for ele in het:
    print(ele)

123
90
name
word
9.23
string123

In [11]:
# even nos in a list format present in a range
nums=range(20,50,2)
evens=list(nums)
evens

[20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

### List Methods

- li.append()
    - which adds new/data elements to the list at a last index
- li.remove()
    - removes the particular ele in the given list
- li.pop()
    - removes the last ele
- li.index()
    - index of the particular ele/item
- li.sort()
    - sort/arrange the list in ascending order
- li.reverse()
    - reverse the list from last to first
- min(li)
    - gives min num
- max(li)
    - gives max num
- sum(li)
    - adds all the numbers present in the list
- li.extend()
    - we can extend the list by the element
- li.clear()
    - erase entire data

In [12]:
l='apssdc'
len(l)

6

In [13]:
len('evens')

5

In [14]:
evens

[20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

In [15]:
empty=[]
empty

[]

In [16]:
for num in range(1,7):
    empty.append(num)

In [17]:
empty

[1, 2, 3, 4, 5, 6]

In [18]:
evens

[20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

In [19]:
evens[3]

26

In [20]:
# replace the value 26 with 'twenty six'
evens[3]='twenty six'

In [21]:
evens

[20, 22, 24, 'twenty six', 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

In [22]:
# remove 30 from the list
evens.remove(30)

In [23]:
evens

[20, 22, 24, 'twenty six', 28, 32, 34, 36, 38, 40, 42, 44, 46, 48]

In [24]:
evens.pop()

48

In [25]:
evens

[20, 22, 24, 'twenty six', 28, 32, 34, 36, 38, 40, 42, 44, 46]

In [26]:
evens.pop(-4)

40

In [27]:
evens

[20, 22, 24, 'twenty six', 28, 32, 34, 36, 38, 42, 44, 46]

In [28]:
evens.index(34)

6

In [29]:
random=[34,12,90,86,45,109,52,30,87]
random.sort()

In [30]:
random

[12, 30, 34, 45, 52, 86, 87, 90, 109]

In [31]:
min(random)

12

In [32]:
max(random)

109

In [33]:
sum(random)

545

In [34]:
len(random)

9

In [35]:
# list=strings and integers
# strings
l=[34,'name','apssdc',123,'bhanu',91.234]
for ele in l:
    if str(ele).isalpha():
        print(ele)

name
apssdc
bhanu

In [36]:
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [37]:
a='bhanu'
li.extend(a)

In [38]:
li

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 'b',
 'h',
 'a',
 'n',
 'u']

In [39]:
li.append('single')

In [40]:
li

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 'b',
 'h',
 'a',
 'n',
 'u',
 'single']

In [41]:
li.clear()

In [42]:
li

[]

In [43]:
del li

In [44]:
li

NameError: name 'li' is not defined

In [ ]:
# [1,2,3],[6,7,8] --> [7,9,11]
one=[1,2,3]
two=[6,7,8]
one+two

In [ ]:
sum(one)

In [ ]:
sum(two)

In [ ]:
sum(one)+sum(two)

In [ ]:
bhanu=[sum(one),sum(two)]
bhanu

In [ ]:
three=[]
s=0
for num in range(len(two)):
    s=one[num]+two[num]
    three.append(s)
three

In [ ]:
li=[1,2,3]
li2=[8,9,10]
li3=[]
s=0
for num,num2 in zip(li,li2):
    s=num+num2
    li3.append(s)
li3

In [ ]:
st=input().split()
st

In [ ]:
# read the list of numbers from the user and perform
# 123 456 678 980 --> you have to add the remainder
# sum(remainder)7 or not
# 3+6+8+0=17 ....no/yes

In [ ]:
li=[12,34,56,90,123]
# unique elements in list
for item in li:
    print(item)

In [ ]:
unq=[]
for ele in li:
    if ele not in unq:     # membership operator
        unq.append(ele)
unq

In [ ]:
# [89,23,20,45,28,10,82,40,16,72,50]
# min sum of ele
# max sum of ele
nums=input().split()
# nums
min_sum=0
max_sum=0
li=[]
for num in nums:
    li.append(int(num))
li
li.sort()
min_sum=sum(li[0:4])
max_sum=sum(li[-4:])
print("min sum=",min_sum)
print('max_sum=',max_sum)

In [ ]:
li=[1,2,3,4,5,6,7,8,9]
li[:4]

In [ ]:
li[1:5]

In [ ]:
new=[56,12,34,90,87]
new

In [ ]:
new.sort()
new

In [ ]:
new.reverse()
new

## set

- one of the data trcture in python
- it is a well defined coll of data/data eles
- it can be build on an unordered data eles
- {}
- immuntiable in nature
    - we can not manipulate data ele
- elems the duplicates data ele

In [49]:
s={12,'hi','hello',34,'course',90,87,78.34,'hi','python','course'}

In [50]:
s

{12, 34, 78.34, 87, 90, 'course', 'hello', 'hi', 'python'}

In [51]:
dir(s)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [63]:
s2={12,'hi','python',34}
s2

{12, 34, 'hi', 'python'}

In [64]:
# s2 from s

s-s2

{78.34, 87, 90, 'course', 'hello'}

In [65]:
s.difference(s2)

{78.34, 87, 90, 'course', 'hello'}

In [66]:
## s={12,'hi','hello',34,'course',90,87,78.34,'hi','python','course'}
new={'hi','python','new','online ssession',45,89,123}
new

{123, 45, 89, 'hi', 'new', 'online ssession', 'python'}

In [67]:
s.intersection(new)

{'hi', 'python'}

In [68]:
s.union(new)

{12,
 123,
 34,
 45,
 78.34,
 87,
 89,
 90,
 'course',
 'hello',
 'hi',
 'new',
 'online ssession',
 'python'}

In [69]:
# s={12,'hi','hello',34,'course',90,87,78.34,'hi','python','course'}
# new={'hi','python','new','online ssession',45,89,123}
# s2={12,'hi','python',34}

In [70]:
new.issubset(s)

False

In [71]:
s.issuperset(new)

False

In [72]:
s2.issuperset(s)

False

In [73]:
s2.issubset(s)

True

In [74]:
s.issuperset(s2)

True

In [75]:
s=s2
s

{12, 34, 'hi', 'python'}

In [76]:
s2

{12, 34, 'hi', 'python'}

In [78]:
help(set.intersection)

Help on method_descriptor:

intersection(...)
    Return the intersection of two sets as a new set.

    (i.e. all elements that are in both sets.)

In [79]:
# new={'hi','python','new','online ssession',45,89,123}
# s={12,'hi','python',34}
var=s.intersection(new)
var

{'hi', 'python'}

In [80]:
new

{123, 45, 89, 'hi', 'new', 'online ssession', 'python'}

In [81]:
new.isdisjoint(s)

False

In [82]:
help(set.isdisjoint)

Help on method_descriptor:

isdisjoint(...)
    Return True if two sets have a null intersection.

In [83]:
s

{12, 34, 'hi', 'python'}

In [85]:
# retrieve the uniq eements from the given list
repeated=[12,90,87,45,12,87,90,678,65]
st=set(repeated)
st

{12, 45, 65, 87, 90, 678}